<h1>Bienvenido a tu Historial Médico</h1>

<%= form_tag articles_path, :method => 'get' do %>
    <%= label_tag "Fecha"%> -
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar" %>
<% end %>


<% @articles.each do |article| %>
    <h1><%= link_to article.title, article %></h1>
    <div>
        <%= article.fecha %>
    </div>
    <div>
        <%= article.body %>
    </div>
    <div>
        <%= link_to "Editar", edit_article_path(article),class:"blue", data: { confirm: '¿Seguro que desea editar el registro?' } %>
        <%= link_to "Eliminar", article, class:"blue", method: :delete, data: { confirm: '¿Seguro que desea eliminar el registro?' } %>
    </div>
<%end%>