<h1>
<%= label_tag "Título:"%><%= @article.title %>
</h1>
<% if @article.cover.present? %>
<div class="field">
    <%= image_tag @article.cover.url() %> 
</div>
<div><%= link_to "Imagen", @article.cover.url() %></div>
<%end%>
<% if @article.documents.present? %>
<div><%= link_to "Documento", @article.documents.url() %></div>
<%end%>
<div>
<%= label_tag "Fecha:"%><%= @article.fecha %>
</div>
<div>
<%= label_tag "Consulta:"%><%= @article.body %>
</div>
<% if @article.tipo_consulta.present? %>
<div>
<%= label_tag "Tipo de Consulta:"%><%= @article.tipo_consulta %>
</div>
<%end%>
<% if @article.cie.present? %>
<div>
<%= label_tag "CIE-10:"%><%= @article.cie %>
</div>
<%end%>
<% if @article.sintomas.present? %>
<div>
<%= label_tag "Síntomas:"%><%= @article.sintomas %>
</div>
<%end%>
<% if @article.medicacion.present? %>
<div>
<%= label_tag "Medicación Prescrita:"%><%= @article.medicacion %>
</div>
<%end%>
<% if @article.examenes.present? %>
<div>
<%= label_tag "Exámenes Solicitados:"%><%= @article.examenes %>
</div>
<%end%>
<% if @article.diagnostico.present? %>
<div>
<%= label_tag "Diagnóstico:"%><%= @article.diagnostico %>
</div>
<%end%>
<% if @article.hospital.present? %>
<div>
<%= label_tag "Hospital:"%><%= @article.hospital %>
</div>
<%end%>
<% if @article.doctor.present? %>
<div>
<%= label_tag "Doctor:"%><%= @article.doctor %>
</div>
<%end%>
<%= link_to "Editar", edit_article_path(@article),class:"yellow", data: { confirm: '¿Seguro que desea editar el registro?' } %>
<%= link_to "Eliminar", @article, class:"red", method: :delete, data: { confirm: '¿Seguro que desea eliminar el registro?' } %>
</div>